%main.c-final{:role => "main"}
  %section
    .container.jumbotron
      %h1.jumbotron-heading.font-weight-xbold.text-center Votre score
      %h1.jumbotron-heading.text-center= score
      %p.lead.text-center.mt-5 La mailing list permet d'avoir
      .d-flex.justify-content-center.mt-3
        %ul.lead.font-weight-normal.d-inline-block
          %li.mt-1 Une explication du score
          %li.mt-1 Une solution possible
          %li.mt-1 La répartition des scores des participants
          %li.mt-1 Une nouvelle évaluation tous les mois

      .d-flex.justify-content-center.mt-5
        %form#subscribe-form.d-flex.flex-column.align-items-center{action: "https://github.us11.list-manage.com/subscribe/post-json?u=f19661f23ef32a7ad521125d6&amp;id=10c01700d9", method: 'get'}
          %div
            %input#form-email{type: "email", placeholder: "email *", value: "", name: "EMAIL", :class => "form-control form-control-lg"}
            %input#form-firstname{type: "hidden", placeholder: "prénom", value: "", name: "FNAME"}
          %div.mt-2
            %input#subscribe-result{type: "submit", value: "Je m'inscris", name: "subscribe", :class => "btn btn-primary btn-lg"}
