

%section
  .container
    .row
      .col
        %textarea{id:'editor'}
        
      .col
        = render 'shared/test_table', {tests: [{test_function:'f(3)', test_expectation: 'foo'}, {test_function:'f(5)', test_expectation: 'bar'}]}
