%section
  .container
    .row
      .col{"id" => "coleditor", "data-initial" => local_assigns[:question][:initial]}
        .row.d-flex.flex-column
          = local_assigns[:question][:description].html_safe
        .row.mt-3
          %textarea{"id" => "editor"}
        
      .col
        = render 'shared/test_table', local_assigns[:question]
    .row.justify-content-center
      %a.btn.btn-success.btn-lg.c-button-answer{href:final_index_path}
        Valider ma réponse
      
