- v = view_object(:question_view, local_assigns)
%section
  .container
    .row
      .col{"id" => "coleditor", "data-initial" => v.initial}
        .row.d-flex.flex-column
          = v.description
        .row.mt-3
          %textarea{"id" => "editor"}
        
      .col
        = render 'shared/test_table', v.question
    .row.justify-content-center
      %a.btn.btn-success.btn-lg.c-button-answer.px-5.py-4{href:v.validation_href}
        %strong Valider ma réponse
      
