%section
  .container
    .row
      .col{"id" => "coleditor", "data-initial" => local_assigns[:question][:initial]}
        .row
          = local_assigns[:question][:description].html_safe
        .row
          %textarea{"id" => "editor"}
        
      .col
        = render 'shared/test_table', local_assigns[:question]
