%main{:role => "main"}
  %section
    .container.jumbotron.c-home-jumbotron
      %h1.jumbotron-heading.font-weight-xbold.text-center Ceci est un test d'algorithmie
      .d-flex.justify-content-center.mt-5
        %ul.lead.font-weight-normal.d-inline-block
          %li.mt-1 Vous pouvez utiliser Internet
          %li.mt-1 Vous devez coder en Javascript
          %li.mt-1 Vous pouvez coder en ES6 
          %li.mt-1 Lodash et jQuery sont déjà chargés 
          %li.mt-1 Vous êtes noté au temps passé
      %p.text-center.mt-5
        %a.btn.btn-primary.btn-lg.font-weight-bold{:href => "#"} Houlà, test facile
        %a.btn.btn-dark.btn-lg.font-weight-bold{:href => "#"} Ok, test difficile
