%main{:role => "main"}
  %section
    .container.jumbotron.c-home-jumbotron
      %h1.jumbotron-heading.font-weight-bold.text-center Ceci est un test d'algorithmie
      %p.lead.text-center Utilisé par des millions de personnes, Trello optimise l'activité des équipes dans le monde entier.
      %p
      %ul.lead.text-center
        %li{:style => "display:table;margin:0px auto 0px auto;"} Lodasazr azer h et jQuery sont déjà chargées
        %li{:style => "display:table;margin:0px auto 0px auto;"} Lodash et jQuery sont déjà chargées
      %p.text-center
        %a.btn.btn-primary.btn-lg.btn-success.font-weight-bold{:href => "#"} Main call to action
