table.c-table {
  text-align: center;
  th, td {
    padding: 0;
  }
  th {
    border-top: none;
  }
}

.trtest.green {
  background-color: #00ff0021;
}

.trtest.red {
  background-color: #ff000012;
}
