table.c-table {
  text-align: center;
  th, td {
    padding: 0;
  }
  th {
    border-top: none;
  }
}

.trtest.green {
  background-color: #00ff0021;
}

.disabled-editor .trtest.green {
  background-color: white;
}

.trtest.red {
  background-color: #ff000012;
}

.disabled-editor .trtest.red {
  background-color: lightgrey;
}

.disabled-editor .badge-success {
  background-color: black;
}

.disabled-editor .badge-danger {
  background-color: black;
}
